<div class ="container fontClass ">
    <h2>Return Policy</h2>
    <div class ="mt-4 text-justify">
    <h2 class = "text-danger"><b>This Return Policy applies to www.vidhim.com</b></h2>

    Return is a scheme provided by the seller, in our case www.vidhim.com, under which option of Return
    replacement or refund is offered. <br>
    All Products listed in different types of catetories may not have same type of return policy.
<br><br>
<h3>Return Policy can be divided into following sections.  Please read all section carefully. </h3> 
<br>
<table class =" table table-bordered">
    <thead>
    <tr>
        <th>Category</th>
        <th>Window, Possible Actions, Terms and Conditions</th>
    </tr>

    <tr>
        <td>Lifestyle:Ethnic sets, kids wear, Shirt, T-shire,Suitcase,Trouser, Jeans,Backpack, Belt, Frame
        
        Ladies Kurti, Ladies Kurta, Leggings,Dupatta,Skirt,Top and all other life styles items, Gloves, Belt, Foot Wear,Socks
        
        </td>
        <td>14 Days (Refund, Replacement or Exchange) Excluding Courier/delivery Charges. Courier/Delivery Charges will not be refunded Return items should not be  broken/damage,used, removed tag</td>
    </tr>

    <tr>
        <td>Lifestyle:Rest of Cloting, Fashion, Accessories,Watches, </td>
        <td>14 Days (Refund, Replacement or Exchange) Excluding Courier/delivery Charges. Courier/Delivery Charges will not be refunded <br>Return items should not be  broken/damage,used, removed tag</td>
    </tr>

    <tr>
        <td>Grocery Items </td>
        <td>5 Days (Replacement or Exchange) Excluding Courier/delivery Charges.Courier/Delivery Charges will not be refunded Return items should not be  broken/damage,used, removed tag</td>
    </tr>

</thead>

<tbody>
</tbody>

</table>
<br>
If seller is not in a position to process the replacement for any reason, refund will be given (excluding courier/delivery charges)
<br><br>
At the time of delivery, if you receive damaged or different product, you will be given refund. <br>
<br>
Once you accept open box / packet delivery and found damaged or different product/item, except manufacturing defect,<br>
no return will be processed.


    </div>
</div>
