
<!-- <div class="container" *ngFor="let item of itemDetail;"> -->
  <form  class="container" [formGroup]="myform" 
  role="form"  >
  <!-- <div *ngIf="loading" >
    <img src ="assets/loading/loading.gif" class = "header-shadow" > Loading ...
  </div> -->
<div *ngIf="!displayError;">
 <!-- <div *ngFor="let item of itemDetail;" class="card"> -->
  <div class="card" >
  <!-- <div  class="card"> -->
  <!-- <mat-grid-list  rowHeight="2:0.5" [cols]="breakpoint" (window:resize)="onResize($event)" *ngFor="let item of itemDetail;" >-->
      <div class="row" *ngFor="let item of itemDetail"> 
        
        
        <div class="col-md-2 "  >
          <div class ="mt-2 ml-2 " *ngFor="let smimg of item.imageSmall3" >
            <img class="border border-primary" height='40px' width='40px'  [src]="smimg" (mouseover)= 'hoverSmallImage(smimg);'  >
          </div>
          
          
        </div> 



        <div class="col-md-4 " >

                <ngx-image-zoom
                [thumbImage]=item.image1
                [fullImage]= item.image1
                [enableLens] = false
               
                [enableScrollZoom] =true
                [enableLens]=true
                [magnification] =2
                [circularLens] = true
                [enableScrollZoom]=true
            ></ngx-image-zoom>

          </div>
       
        <div class="col-md-6 form-group ">
            <table class="table">
              <tr>
                <td style="background-color: blueviolet" class="" >
                  <h2 style="color: white" >{{item.itemDescription}}</h2>
                </td  >
              </tr>
              <tr>
                <td class="item-fore-color">
                            Brand:&nbsp; {{item.brand}}
  
                </td>
              </tr>
              <tr>
                <td class="item-fore-color">
                Size:&nbsp; {{item.sizeName}}
                </td>
              </tr>
              <tr>
<td class="item-fore-color">
  
  <div class=""
  [ngClass]="{
   'has-danger': sizes.invalid && (sizes.dirty || sizes.touched),
   'has-success': sizes.valid && (sizes.dirty || sizes.touched)
}">
    Available Size
    <select class="ml-2"
     formControlName="sizes"  [(ngModel)]="selecteditemId" (change)=GetItemDetails(selecteditemId) >

    <option *ngFor="let cc of availableSizes"
       [value]="cc.itemId">{{cc.sizeName}}
    </option>
  </select>

    <div class="form-control-feedback"
        *ngIf="sizes.errors && (sizes.dirty || sizes.touched)">
    <p *ngIf="sizes.errors.required" class="text-danger">Size is required</p>

    </div>

</div>
</td>
</tr>
<tr>

      <td  class="item-fore-color" style= "-webkit-text-fill-color:crimson "  >
        <p>Available Quantity: &nbsp;{{item.availableQty}}</p>
      </td>
 </tr> 
  <tr  >
   <td class="item-fore-color">
  <!-- <input type="number" value="{{counter}}" class="form-control" style="text-align:center;" > -->
<p>Quantity :</p>  
  <input type ="button" class="qty-btn" [disabled]="disableplus" value="+" (click)="salequantityplus();" />
    <input type ="text" class="text-danger " [value]="minQty" style="width:30px;" disabled=true/>
    <input type ="button" class="qty-btn" [disabled]="disableminus"  value="-" (click)="salequantitminus();"/>

</td>
 </tr>
 
 <tr>      
        <td class="item-fore-color">
          <h4>Price: &nbsp;{{item.price |currency :"INR"}}</h4>
         
                    <!-- <img border="0" alt="Information" src="../../../assets/download.jpg" width="30" height="30" (mouseenter)="overTitle()" (mouseleave)="overTitle()"> -->
        </td>
              </tr>   
              <tr>
                <td class="item-fore-color">
                        <h4> Offer Price:&nbsp;  {{item.offerPrice|currency :"INR"}}</h4>
                </td>
              </tr>
                  <tr> 
                    <td class="item-fore-color">       <!-- <mat-list-item  id = "hover" class="alert alert-info" role="alert" *ngIf="showSelected" style="position:fixed" > -->
               
                  <ul style="-webkit-text-fill-color: indigo"  >
                      <li item-fore-color  >
                          <b> Color:&nbsp; {{item.color}}</b>
                        </li>
                        
                      <li item-fore-color>
                        <b>    Delivery Charges:&nbsp; {{item.deliveryCharges |currency :"INR"}}</b>
                          </li>
                  </ul>
               
              </td>
                </tr>
 
            
           <tr>
            <td style="font-size: 10px;" class="item-fore-color">
              <b>Amount 
               (Excluding Delivery Charges) :{{totalPaidAmount|currency :"₹":''}}
               
             </b>
            </td>
          </tr>
          <tr>
            <td style="font-size: 10px;" class="item-fore-color">
              <b>Total Paid Amount  
               (Including Delivery Charges) :{{totalPaidAmount + item.deliveryCharges|currency :"INR"}}
               
             </b>
            </td>
          </tr>

            <tr>
              <td class="item-fore-color" >
                <b>  Delivery:&nbsp; By Courier</b>
              </td>
            </tr>
<tr>
  <td>
            <button style="white-space:nowrap;" (click)="addToCart();" class="float-right m-2 mat-raised-button btn-danger "  >
              <mat-icon>shopping_cart</mat-icon>
              Add to Cart
            </button >
          
        </td>
      </tr>
          </table>
      
          </div>
        </div>
      </div>
<!-- </mat-grid-list> -->
</div>
 



<div *ngIf="displayError;"><h1>Oops Item sold. No quantity available now</h1></div>
</form>

<!--
<script>

    $('#74').ezPlus();

</script> -->