<form  class="container was-validated fontClass" role="form"  [formGroup]="myform" 
role="form"  >

<h3>Forget Password</h3>
<hr>
<div class="form-group"  >
    <label>Email Id</label>
    <br>
    <input type="email" placeholder="Email id" formControlName="username" class="form-control" >
    <div class="help-block" *ngIf="(myform.get('username').touched ||
                                     myform.get('username').dirty) &&
                                     myform.get('username').errors">
            <p class="text-danger " *ngIf="myform.get('username').errors.required">Please enter email id</p>                        
</div>

  </div>

 
 <div>
  <div style = "margin-left :40px;" class="text-danger font-weight-bold" >{{err}}</div>
</div>

 
</form>

<div class = "container">
  <table class="table">  
    <tr>
      <td>
        <button class="btn-success " style="float:right" (click)="RedirectToLogin()" >Login</button>
      </td>
        <td>
            <button class="btn-success " style="text-transform:none" (click)="SendMail()" >Submit</button>
        </td>
      
       
    </tr>
    </table>

