
<form  class="container fontClass was-validated " role="form"  [formGroup]="myform" 
role="form"  >
<div *ngIf ="!afterSubmit">
      <div class = "box box-body">
  <!-- <fieldset formGroupName="name"> -->
    <div class="box-header with-border">
      <h3 class="box-title">New User. <br></h3>
      <hr>
      <div>Enter valid values in required fields and click on proceed.</div>
    </div>
<br>
      <div class="form-group"
      [ngClass]="{
     'has-danger': mobile.invalid && (mobile.dirty || mobile.touched),
     'has-success': mobile.valid && (mobile.dirty || mobile.touched)
   }">
   <label>Mobile Number</label>
   <input type="text" [(ngModel)]=  "entMobile" class="form-control form-control-sm" formControlName="mobile"  value=[mobileNum]  required>
   <div class="was-validated"
        *ngIf="mobile.errors && (mobile.dirty || mobile.touched ) ">
     <p *ngIf="mobile.errors.required" class ="text-danger">Mobile number is required</p>
     
   </div>
     <!-- <pre>Valid? {{ myform.controls.name.controls.mobile.valid }}</pre>
     <pre>Dirty? {{ myform.controls.name.controls.mobile.dirty }}</pre>
     <pre>pres? {{ myform.controls.name.controls.mobile.pristine }}</pre> -->
 </div>

 <!-- <div class="form-group"
 [ngClass]="{
'has-danger': otp.invalid && (otp.dirty || otp.touched),
'has-success': otp.valid && (otp.dirty || otp.touched)
}">
<label>OTP</label>
<input type="text" class="form-control form-control-sm" formControlName="otp"  value=[otp]  required>
<div class="was-validated"
   *ngIf="otp.errors && (otp.dirty || otp.touched ) ">
<p *ngIf="otp.errors.required" class ="text-danger">OTP is required</p>

</div> -->

<!-- <div *ngIf="!isOtpOK";else [innerHTML] = "'' |safe:'script'"
(change)="validateOTP();"> -->
<!-- <div  *ngIf="!isOtpOK" >

OTP is Invalid. Please re-enter wwwOTP"

</div> -->


</div>




    <div class="form-group"
         [ngClass]="{
        'has-danger': firstName.invalid && (firstName.dirty || firstName.touched || firstName.pristine),
        'has-success': firstName.valid && (firstName.dirty || firstName.touched)
      }">
      <label>First Name</label>
      <input type="text"
             class="form-control form-control-sm "
             formControlName="firstName"
             required>
      <div class="form-control-feedback was-validated"
           *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
        <p *ngIf="firstName.errors.required" class ="text-danger">First Name is required</p>
      </div>
    </div>

    <div class="form-group ">
      <label>Middle Name</label>
      <input type="text" class="form-control form-control-sm" formControlName="middleName"> 
    </div>



    <div class="form-group"
         [ngClass]="{
        'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
        'has-success': lastName.valid && (lastName.dirty || lastName.touched)
      }">
      <label>Last Name</label>
      <input type="text"
             class="form-control form-control-sm"
             formControlName="lastName"
             required>
      <div class="form-control-feedback was-validated"
           *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
        <p *ngIf="lastName.errors.required" class ="text-danger">Last Name is required</p>
      </div>
    </div>
  
  <div class="form-group"
       [ngClass]="{
        'has-danger': myemail.invalid && (myemail.dirty || myemail.touched),
        'has-success': myemail.valid && (myemail.dirty || myemail.touched)
   }">

   <label>Email</label>
    <input type="email" 
           class="form-control form-control-sm"
           formControlName="myemail"
           required>
    <div class="form-control-feedback was-validated"
         *ngIf="myemail.errors && (myemail.dirty || myemail.touched)">
      <p *ngIf="myemail.errors.required" class ="text-danger">Email is required</p>
      <p *ngIf="myemail.errors.pattern" class ="text-danger">The email address must contain at least the @ character</p>
    </div>

  </div>




  <div class="form-group"
       [ngClass]="{
        'has-danger': password.invalid && (password.dirty || password.touched|| password.pristine),
        'has-success': password.valid && (password.dirty || password.touched)
   }">
    <label>Password</label>
    <input type="password"
           class="form-control form-control-sm"
           formControlName="password"
           required>
    <div class="form-control-feedback was-validated"
         *ngIf="password.errors && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required" class ="text-danger">Password is required</p>
      <p *ngIf="password.errors.minlength" class ="text-danger">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
  </div>

  <!--
    <pre>{{ password.errors | json }}</pre>
  -->
  <div class="form-group">
    <label>Ulternate Mobile</label>
    <input type="text" class="form-control" formControlName="ulternatemobile"> 
  </div>

  <div class="form-group"
  [ngClass]="{
   'has-danger': address.invalid && (address.dirty || address.touched),
   'has-success': address.valid && (address.dirty || address.touched)
}">
<label>Address</label>
<textarea rows="3" class="form-control" formControlName="address" required></textarea>
<div class="form-control-feedback was-validated"
    *ngIf="address.errors && (address.dirty || address.touched)">
 <p *ngIf="address.errors.required" class ="text-danger">Address is required</p>
 <!-- <p *ngIf="address.errors.minlength">Password must be 8 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p> -->
</div>
</div>


<div class="form-group"
[ngClass]="{
 'has-danger': mystate.invalid && (mystate.dirty || mystate.touched),
 'has-success': mystate.valid && (mystate.dirty || mystate.touched)
}">
<label>State</label>
<select class="form-control form-control-sm"
     formControlName="mystate"  [(ngModel)]="selectedState" (change)=GetCities(selectedState)>
<!-- <option value="">Please select a State</option> -->
<option *ngFor="let lang of states"
[value]="lang.stateid">{{lang.stateName}}
</option>
</select>

<div class="form-control-feedback"
*ngIf="mystate.errors && (mystate.dirty || mystate.touched)">
<p *ngIf="mystate.errors.required" class ="text-danger">State is required</p>

</div>
</div>


<div class="form-group"
  [ngClass]="{
   'has-danger': city.invalid && (city.dirty || city.touched),
   'has-success': city.valid && (city.dirty || city.touched)
}">
    <label>City</label>
    <select class="form-control form-control-sm"
     formControlName="city"  >

    <option *ngFor="let cc of citeis"
    [value]="cc.stateid">{{cc.city}}
    </option>
  </select>
    <!-- <input type="city"
          class="form-control form-control-sm"
          formControlName="city"
          required> -->
    <div class="form-control-feedback"
        *ngIf="city.errors && (city.dirty || city.touched)">
    <p *ngIf="city.errors.required">City is required</p>

    </div>

</div>

<div class="form-group"
  [ngClass]="{
   'has-danger': pin.invalid && (pin.dirty || pin.touched),
   'has-success': pin.valid && (pin.dirty || pin.touched)
}">
    <label>Pin</label>
    <input type="pin"
          class="form-control form-control-sm"
          formControlName="pin"
          required>
    <div class="form-control-feedback was-validated"
        *ngIf="pin.errors && (pin.dirty || pin.touched)">
    <p *ngIf="pin.errors.required">Pin is required</p>

    </div>

</div>
<button type="button" class="btn-success pull-right"(click)= "proceed()">Proceed</button>
<button type="button" class="btn-success">Cancel</button>
</div>


<div *ngIf="afterSubmit"  >

  {{messege}}

      <div class="form-group"
      [ngClass]="{
      'has-danger': otp.invalid && (otp.dirty || otp.touched),
      'has-success': otp.valid && (otp.dirty || otp.touched)
      }">
      <br>
      <label>Enter OTP</label>
      <input type="text" class="form-control form-control-sm" formControlName="otp"  value="0000"  required>
            <div class="was-validated"
              *ngIf="otp.errors && (otp.dirty || otp.touched ) ">
            <p *ngIf="otp.errors.required" class ="text-danger">OTP is required</p>

      </div>
      <br>
      <button type="button" class="btn-success" (click)="goback();">Go Back</button>
      <button type="submit" [disabled]="!myform.valid"class="btn-success pull-right " (click)="save()"  >Submit</button>
   
</div>


 

  <!-- <pre>{{myform.value | json}}</pre> -->
<!-- </fieldset> -->
 
    

 
</div>
</form>


