<!-- <form  class="container" [formGroup]="myform" 
role="form"  > -->
<form #pmtOption="ngForm" (submit)="MakePayment(pmtOption)" novalidate>
<div class="container"  >
  
    <div *ngFor='let btndata of data.body ' >
    <label class="form-check-label">
        <input type="radio"  class="form-check-input" ngModel [ngModelOptions]="{standalone: true}" required [value]= 'btndata.id'  [(ngModel)]="optradio" name="option"  (change)="onItemChange($event.target.value)">{{btndata.paymentTypeName}}
      </label>
     
    </div>
    <span class="text-danger" *ngIf="isSubmitted && pmtOption.invalid">
      Please Select Payment Option.

  </span>
  <br><br>
    <div class=" pull-right">
      <button type= "submit" class="btn-success" style="width: auto;">Proceed</button>

    </div>
<br>
</div>

</form>
