<!-- <form  class="container" [formGroup]="myform" 
role="form"  > -->
<form>
<div class="container">
  
    <div *ngFor='let btndata of data.body'>
    <label class="form-check-label">
        <input type="radio"  class="form-check-input" [value]= 'btndata.id' id ='btndata.id' [(ngModel)]="optradio" name="optradio"  (change)="onItemChange($event.target.value)">{{btndata.paymentTypeName}}
      </label>
    </div>
  <br><br>
    <div class=" pull-right">
      <button class="btn-success" (click)= "MakePayment();" style="width: auto;">Proceed</button>

    </div>
<br>
</div>

</form>
